# Local dev (docker-compose.dev.yml)
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# Classifier
CLASSIFIER_REDIS_URL=redis://redis:6379/0
CLASSIFIER_LOG_PATH=/logs/access.log
CLASSIFIER_METRICS_PORT=8001

# Traffic generator
TARGET_HOST=https://apache
LOCUST_VERIFY_SSL=false
